{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
<li class="phone" style="font-size:26px;">
<a href="Reserve by phone(289)-857-8000"> Call Us: (289)-857-8000</a></li>